*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#EDEFEE;
    font-family:'Markazi text',serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left:5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}



header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;

}


/* Navigation bar*/

nav{
    background-color: rgba(0, 0, 0, 0.745);
    height: 3rem;
    display:flex;
    border-radius: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
}

nav a{
    color:aliceblue; 
}


nav a:visited{
    color:blueviolet;
}

nav a:hover{
    color:green;
}

nav a:active{
    color:yellow;
    background-color:black ;
}

nav ul{
    list-style: none;
    text-align: center;
    flex:1;
    align-self: center; 
}

nav li{
    display: inline-block;
    
}

/* 1st  flexbox*/


#row{
    display:flex;
     
}

#first{
    flex: 1;
    height: 20vh;
    
}
  
 #first img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius:25px;
  }
  
  h1{
    position: absolute;
    top: 41vh;
    color:#ffffff;
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  h1+p{
    position: absolute;
    top: 52vh;
    color:#ffffff;
    font-size: 0.7rem ;
    margin-left: 0.5rem;
  }

  /* 2nd flexbox*/

  
  #rowtwo{
    display: flex;
  }

  .second {
    background-color: bisque;
    margin-right: 1rem;
    flex: 1;
    margin-top: 1rem;
    border-radius: 15px;
  }

  .second img{
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

  }
  h2{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
  }

  .second p{
    margin-left: 0.4rem;
    font-size: 10px;
  }

  .second a{
    margin-left: 0.4rem;
    font-size: 10px
  }

  .second a:visited{
    color:blueviolet;
  }

  .second a:hover{
    color:green;
  }

  .second a:active{
    color:yellow;
    background-color: black;
  }
  /*footer*/
  footer{
    margin-top: 2rem ;
    display: flex;
    justify-content:space-between;
}


#copyright{
    border-top: solid black;
}



  