*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#EDEFEE;
    font-family:'Markazi text',serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left:5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}




footer{
    display: flex;
}

footer div{
    flex:1
}

/* Navigation bar*/

nav{
    background-color: rgba(0, 0, 0, 0.745);
    height: 3rem;
    display:flex;
    border-radius: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav a{
    color:aliceblue;
    
    
}


nav ul{
    list-style: none;
    text-align: center;
    flex:1;
    align-self: center; 
}

nav li{
    display: inline-block;
    
}

/* 1st row of flexbox*/


main+section{
    display:flex;
     
}

#one{
    flex: 1;
    height: 20vh;
    
}
  
 article img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius:25px;
  }
  
  h1{
    position: absolute;
    top: 50vh;
    color:#EDEFEE;
    font-size: 2rem;
  }
  h1+p{
    position: absolute;
    top: 60vh;
    color:#EDEFEE;
    font-size: 0.7rem 
  }

  /* 2nd row of flexbox*/
  #row{
    display: flex;
  }

  